$(function(){
  d = {{ customer }};
  console.log(d);
  {% if customer and customer.metafields.global.advance_discount_code %}
    var discount_code = {{ customer.metafields.global.advance_discount_code }};
    var discount_input_element = "<div><input class='js-form-discount' type='hidden' name='discount' value=" + discount_code +" ></div>";
    $("form[action='/cart'][method='post']").prepend(discount_input_element);
  {% endif %}
  
});
